<?xml version='1.0' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@2.17">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>Parent</displayName>
  <version>1.0-SNAPSHOT</version>
  <packaging>pom</packaging>
  <relativePath></relativePath>
  <dependencies/>
  <children>
    <hudson.maven.ModuleName>
      <groupId>com.example.maven-samples</groupId>
      <artifactId>multi-module-parent</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>com.example.maven-samples</groupId>
      <artifactId>single-module-project</artifactId>
    </hudson.maven.ModuleName>
  </children>
</maven2>